* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  margin-inline: 5rem;
}

h1,
address {
  text-align: center;
  padding-block: 2rem;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

ul ul {
  background-color: #d8d8d8;
  padding: 1rem;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

li {
  margin-right: 10px;
}
